doctype html
html
	head
		title=title
		//-link(rel="shortcut icon" href="/favicon.ico")
		link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:regular,bold|Raleway")
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:700|Raleway:400")
		link(rel='stylesheet' href='/css/ionicons.css')
		link(rel='stylesheet' href='/css/style.css')
	body
		header(id="header" class="main-nav")
			nav
				ul
					li
						a(href="/" title="welcome") Home
					li
						a(href="/users" title="who we are") Users
					li
						a(href="/contact" title="where to find us") Contact
			div
				h1
					i(class="icon ion-ios-lightbulb-outline" style="margin-right: 20px")
					| #{title}
				p We are challenged by the un expected. And we live by the code all the time
				block main-content