doctype html
html
	head
		title=title
	body
		header(id="header" class="main-nav")
			nav
				ul
					li
						a(href="/" title="welcome") Home
					li
						a(href="/about" title="who we are") About
					li
						a(href="/contact" title="where to find us") Contact
		main
			div
				h1 Welcome
				p We are challendged by the un expected. And we live by the code all the time