<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
	<header id="header" class="">
		<nav>
			<ul>			
				<li><a href="" title="">Home</a></li>
				<li><a href="" title="">About</a></li>
				<li><a href="" title="">Contact</a></li>
			</ul>
		</nav>
	</header><!-- /header -->
	<main>
		<div>
		<h1>Welcome</h1>
			<p>
				We are challendged by the un expected. And we live by the code all the time
			<p/>
		</div>		
	</main>
</body>
</html>